<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoNest</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/logo.png ">    <link rel="stylesheet" href="foot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>About Us</h2>
                <div class="content">
                    <p id="about">Developed by TechTeam InfoNest, is a web application that allows users to create, manage and share their personal documentation effectively. It aims to enhance productivity and organization of the users.</p>
                    <div class="social">
                        <a href="https://www.facebook.com/TechTeam"><span class="fab fa-facebook-f"></span></a>
                        <a href="https://www.x.com/TechTeam"><span class="fab fa-twitter"></span></a>
                        <a href="https://www/instagram.com/TechTeam"><span class="fab fa-instagram"></span></a>
                        
                    </div>
                </div>
               
                </div>
                <div class="center box">
                    <h2>Address</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">Kigali,Rwanda</span>
                        </div>
                        <div class="place">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text">+250 790 145 255</span>
                        </div>
                        <div class="place">
                            <span class="fas fa-envelope"></span>
                            <span class="text">codewars@tuta.io</span>
                        </div>
                       
                    </div>
            </div>
            <div class="right box">
                <h2>Contact Us</h2>
                <div class="content">
                    <form action="">
                        <div class="email">
                            <div class="text">Email * </div>
                            <input type="email" name="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea name="message" rows="2" cols="30"  required></textarea>
                        </div>
                        <div class="btn">
                            <input type="submit" value="Send" id="send_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
       </footer>
    

</body>
</html>