<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoNest</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/logo.png ">    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="nav.css">

</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img src="./assets/bars-solid.svg" >
        </label>
        <label class="logo">InfoNest</label>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Create Doc</a></li>
            <li><a href="#">Doc List</a></li>
            <li><a href="#">Shared Docs</a></li>
            <li><a href="#">Settings</a></li>
            <li ><a href="login.html"class="btn">Login</a></li>
            <li ><a href="signup.html"class="btn">Sign Up</a></li>
        </ul>
    </nav>

    

  
</body>
</html>