{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/infoset_icon.webp' %}">

    <title>InfoNest | Reset Password</title>
</head>
<body>
    <nav class="navbar">
        <img src="./assets/logo.png" alt="">
        <label id="logo">InfoNest</label class="logo">
        <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Register</a></li>
        </ul>
    </nav>
    <div class="main">
        <h3>Enter the code </h3>
        <form action="" id="ver-form">
            <input type="text" placeholder="Enter code" id="code"><br>
            <p class="error-message">Please enter the code</p>
            <input type="submit" value="Submit" id="btn">
        </form>
    </div>
    <script src="{% static 'js/verify.js' %}" type="text/javascript"></script>
</body>
</html>